.sub-container {
    width: 1920px;
    height: calc(1080px * 10);
    position: relative;

    .title {
        position: fixed;
        z-index: 999;
        cursor: pointer;
    }
}

.effect-wrapper {
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bolder;
    // text-shadow: 0 0 .2rem #333;
}

.iframe-proj {
    iframe {
        width: 100%;
        height: 100%;
    }
}

.fake-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}